<div class="login-body">
    <div class="login-panel login-align p-fluid flex-column">
        <div class="flex flex-column">
            <div class="flex align-items-center mb-4 logo-container">
                <img
                    [src]="
                        'assets/images/brand/' +
                        (app.colorScheme === 'light'
                            ? projectConstants?.emblemLogoDark
                            : projectConstants?.darkLogo)
                    "
                    class="login-logo mx-auto"
                />
                <!-- <img [src]="'assets/images/brand/'+
                (app.colorScheme === 'light' ? projectConstants?.nameLogoDark : projectConstants?.nameLogoLight)"
                     class="login-appname"/> -->
            </div>

            <div class="form-container mb-4">
                <div>
                    <p-messages
                        [(value)]="HTTPResponseMessage"
                        [enableService]="false"
                    ></p-messages>
                </div>

                <div class="text-center mb-4">Create a new account</div>

                <form
                    [formGroup]="registerForm"
                    (keyup.enter)="submitRegisterForm(registerForm)"
                >
                    <formly-form
                        [model]="model"
                        [fields]="fields"
                        [form]="registerForm"
                    ></formly-form>
                </form>
            </div>
            <div class="button-container">
                <button
                    type="button"
                    pButton
                    label="Create Account"
                    (click)="submitRegisterForm(registerForm)"
                    [disabled]="
                        registerForm.invalid ||
                        isSubmitting ||
                        !registerForm.value.acceptTermsOfService
                    "
                ></button>
                <span
                    >Already have an account?<a [routerLink]="['/auth/login']"
                        >Login here</a
                    ></span
                >
            </div>
        </div>

        <div class="login-footer flex align-items-center mt-4 auth-page">
            <div class="flex align-items-center login-footer-logo-container">
                <img
                    [src]="
                        'assets/images/brand/' +
                        (app.colorScheme === 'light'
                            ? projectConstants?.emblemLogoDark
                            : projectConstants?.emblemLogoLight)
                    "
                    class="login-footer-logo"
                />
                <img
                    [src]="
                        'assets/images/brand/' +
                        (app.colorScheme === 'light'
                            ? projectConstants?.nameLogoDark
                            : projectConstants?.nameLogoLight)
                    "
                    class="login-footer-appname"
                />
            </div>
            <span>
               
            </span>
        </div>
    </div>
</div>
