<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
    <c-container>
        <c-row class="justify-content-center">
            <c-col md="8">
        <c-card-group>
            <c-card [ngStyle]="{'width.%': 44}" class="text-white bg-primary py-5 m-1">
                <c-card-body class="text-center d-flex flex-column align-items-center">
                  <div>
                    <h6>Welcome Back!!</h6>
                    <span class="font-medium text-600">Alredy have an account?</span>
                    <a
                      class="font-medium text-white d-block mt-2"
                      [routerLink]="['/auth/login']"
                      >Login </a
                    >
                  </div>
                </c-card-body>
              </c-card>
          
          <c-card class="p-4">
            <c-card-body>
              <form [formGroup]="registerForm">
                <formly-form
                  [model]="userModel"
                  [fields]="fields"
                  [options]="options"
                  [form]="registerForm">
                </formly-form>
              </form>
              <button
                pButton
                type="button"
                label="Sign-up"
                class="bg-primary"
                (click)="registerUser()"
                [disabled]="!registerForm.valid">
              </button>
            </c-card-body>
          </c-card>
        </c-card-group>
        </c-col>
    </c-row>
    </c-container>
  </div>
  