<div class="grid">
  <div class="col-12 flex justify-content-end">
    <p-dialog
      header="New Role"
      [(visible)]="displayRole"
      [modal]="true"
      [style]="{width: '50vw', height: '50vh'}"
    >
      <p class="text-orange-500">{{ errorMessage }}</p>
      <ng-template pTemplate="header">
        <p>{{ isEdit === true ? 'Edit' : 'Add' }} A New Role</p>
      </ng-template>
      <form [formGroup]="roleForm" (ngSubmit)="addRole()">
        <formly-form
          [model]="roleModel"
          [fields]="roleFields"
          [form]="roleForm"
        ></formly-form>
        <div>
          <p>
            Current Roles :

            <span *ngFor="let rol of employee.role"> {{ rol }} ,</span>
          </p>
        </div>
      </form>
      <ng-template pTemplate="footer">
        <!-- <button
          pButton
          type="button"
          class="p-button-raised p-button-danger"
          label="Remove Employee  Role"
          (click)="updateRole()"
          [disabled]="roleForm.invalid"
          *ngIf="employee?.role?.length > 1"
        ></button> -->

        <button
          pButton
          type="button"
          class="p-button-raised"
          label="Add Employee  Role"
          (click)="addRole()"
          [disabled]="roleForm.invalid"
        ></button>
        <!-- <button
        pButton
        type="button"
        class="p-button-raised"
        label="Make Department Head"
        (click)="makeDepartmentHeadDialog()"
        
       
      ></button> -->
      <!-- <p-dialog header="Confirm " [(visible)]="makeDepartmentDialog">
        Are you sure?
        <ng-template pTemplate="footer">
            <button pButton type="button" pRipple label="Confirm" class="p-button-success"
                (click)="makeRole()">
            </button>
          
            <button pButton type="button" pRipple label="Cancel" class="p-button-danger"
                (click)="cancelDepartmentDialog()">

            </button>
        </ng-template>

    </p-dialog> -->
      </ng-template>
    </p-dialog>
    <button
      pButton
      type="button"
      icon="pi pi-plus"
      label="Assign role"
      (click)="showDialog()"
      class="p-button-raised"
    ></button>
    <!-- <button
      pButton
      type="button"
      icon="pi pi-plus"
      label="Remove role"
      (click)="showRemoveDialog()"
      class="p-button-raised"
    ></button> -->
  </div>
</div>

<div class="card">
  <div class="grid">
    <div class="col-12 md:col-3 align-items-center text-center">
      <div class="card">
        <img
          [src]="getSantizeUrl(imageToShow)"
          alt="image"
          style="width: 100%; height: 200px; border-radius: 50%; width: 200px"
          *ngIf="imageToShow"
        />
        <p class="text-primary">
          {{ employee?.firstName }}
          {{ employee?.lastName }}
        </p>
        <p class="">{{ employee?.department?.departmentName }}</p>

        <button
          pButton
          type="button"
          (click)="editEmployee()"
          class="p-button-raised p-button-rounded"
        >
          Edit
        </button>
      </div>
    </div>

    <div class="col-12 md:col-4">
      <div class="card">
        <p-table
          [value]="[{}]"
          styleClass="p-datatable-striped"
          [rows]="5"
        >
          <ng-template pTemplate="header">
            <tr>
              
              <th>Email</th>
              <th>Kra  Pin</th>
              <th>phoneNumber</th>
              
            </tr>
          </ng-template>
          <ng-template pTemplate="body">
            <tr>
              <td>{{ employee.email }}</td>
            
              <td>{{ employee.kraPin }}</td>
              <td>{{ employee.phoneNumber }}</td>
              
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>

    <div class="col-12 md:col-4">
      <div class="card">
        <h6 class="text-center">Leave Days Consumed</h6>
        <div class="text-center text-primary text-lg">
          <h6>{{ leavesummary?.leavesConsumed }} Days</h6>
        </div>
      </div>
      <div class="card">
        <h6 class="text-center">Leave Days carry over</h6>
        <h6 class="text-primary text-center text-lg">
          {{ leavesummary?.carryOverDays }}
        </h6>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="col-12">
      <p-table
        [value]="Ileaves"
        responsiveLayout="scroll"
        [paginator]="true"
        styleClass="p-datatable-gridlines"
        [rows]="10"
        selectionMode="single"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Leave Type</th>
            <th>Leave Period</th>
            <th>Start Date</th>
            <th>Reporting Date</th>
            <th>Status</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-ileaves>
          <tr (click)="onleaveRequest(ileaves._id)">
            <td>{{ ileaves?.typeOfLeave?.leaveType }}</td>
            <td>{{ ileaves?.requested }}</td>
            <td>{{ ileaves?.startDate | date }}</td>
            <td>{{ ileaves?.endDate | date }}</td>
            <td class="text-primary">{{ ileaves?.status }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>


