h5{
    color:#0099FB; padding-top: 20px; padding-bottom: 20px;
}
.card{
    border: 1px solid var(--unnamed-color-e7e7e7);
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #E7E7E7;
opacity: 1;
}