<div class="login-body">
    <div class="login-panel login-align p-fluid flex-column">
        <div class="flex flex-column">
            <div class="flex align-items-center mb-4 logo-container">
                <img
                    [src]="
                        'assets/images/brand/' +
                        (app.colorScheme === 'light'
                            ? projectConstants?.emblemLogoDark
                            : projectConstants?.darkLogo)
                    "
                    class="login-logo mx-auto"
                />
                <!-- <img [src]="'assets/images/brand/'+
                (app.colorScheme === 'light' ? projectConstants?.nameLogoDark : projectConstants?.nameLogoLight)"
                     class="login-appname"/> -->
            </div>

            <div class="form-container">
                <div>
                    <p-messages
                        [(value)]="HTTPResponseMessage"
                        [enableService]="false"
                    ></p-messages>
                </div>

                <div
                    class="text-center mb-4 max-w-full"
                    *ngIf="
                        componentCurrentState === ComponentStates.FORGOTPASSWORD
                    "
                >
                    Enter the email address associated with your account
                </div>
                <div
                    class="text-center mb-4 max-w-full"
                    *ngIf="
                        componentCurrentState === ComponentStates.RESETPASSWORD
                    "
                >
                    Enter your new password
                </div>

                <form
                    *ngIf="
                        componentCurrentState === ComponentStates.FORGOTPASSWORD
                    "
                    [formGroup]="forgotPasswordForm"
                >
                    <formly-form
                        [model]="forgotPasswordModel"
                        [fields]="forgotPasswordFields"
                        [form]="forgotPasswordForm"
                    ></formly-form>
                </form>
                <form
                    *ngIf="
                        componentCurrentState === ComponentStates.RESETPASSWORD
                    "
                    [formGroup]="resetPasswordForm"
                >
                    <formly-form
                        [model]="resetPasswordModel"
                        [fields]="resetPasswordFields"
                        [form]="resetPasswordForm"
                    ></formly-form>
                </form>
            </div>
            <div class="button-container">
                <button
                    type="button"
                    pButton
                    label="Reset password"
                    (click)="
                        componentCurrentState === ComponentStates.FORGOTPASSWORD
                            ? submitForgotPasswordForm(forgotPasswordForm)
                            : submitResetPasswordForm(resetPasswordForm)
                    "
                    [disabled]="
                        componentCurrentState === ComponentStates.FORGOTPASSWORD
                            ? forgotPasswordForm.invalid
                            : resetPasswordForm.invalid
                    "
                >
                    <!-- TODO: check formstate -->
                    <!-- {{componentCurrentState}}
                   {{forgotPasswordForm.invalid}}
                   {{resetPasswordForm.invalid}} -->
                </button>
                <!-- <span
                    >Dont have an account?<a [routerLink]="['/auth/register']"
                        >Sign-up here</a
                    ></span
                > -->
            </div>
        </div>

        <div class="login-footer flex align-items-center mt-8 auth-page">
            <div class="flex align-items-center login-footer-logo-container">
                <img
                    [src]="
                        'assets/images/brand/' +
                        (app.colorScheme === 'light'
                            ? projectConstants?.emblemLogoDark
                            : projectConstants?.emblemLogoLight)
                    "
                    class="login-footer-logo"
                />
                <img
                    [src]="
                        'assets/images/brand/' +
                        (app.colorScheme === 'light'
                            ? projectConstants?.nameLogoDark
                            : projectConstants?.nameLogoLight)
                    "
                    class="login-footer-appname"
                />
            </div>
            <span>
             
            </span>
        </div>
    </div>
</div>
