<div class="card">
  <div class="grid">
    <div class="col-12 md:col-6">
      <div class="card">
        <img
          [src]="getSantizeUrl(imageToShow)"
          alt="image"
          style="width: 100%; height: 200px; border-radius: 50%; width: 200px"
          *ngIf="imageToShow"
        />

        <p class="text-start">
          {{ employee?.firstName }} {{ employee?.lastName }}
        </p>
      </div>
    </div>

    <div class="col-12 md:col-6">
      <p-card>
        <div class="flex justify-content-between">
          <div class="col-3">
            <h6>Years with us</h6>
            <h6
              class="text-center justify-content-center text-primary text-4xl"
            >
              {{ leave?.yearsToDate }}
            </h6>
          </div>
          <div class="col-3">
            <h6>Leave Balance</h6>
            <h6
              class="text-center justify-content-center text-primary text-4xl"
            >
              {{ leave?.leaveBalance }}
            </h6>
          </div>
          <div class="col-3">
            <h6>Leave Consumed</h6>
            <h6
              class="text-center justify-content-center text-primary text-4xl"
            >
              {{ leave?.leavesConsumed }}
            </h6>
          </div>
        </div>
      </p-card>
    </div>
  </div>

  <div class="grid justify-content-between">
    <div class="col-6">
      <div class="block">
        <h5 class="text-primary">{{ ileave?.typeOfLeave?.leaveType }}</h5>
      </div>
    </div>
    <div class="col-6">
      <div class="block">
        <h5 class="text-primary">{{ ileave?.status }}</h5>
      </div>
    </div>
  </div>

  <div class="flex flex-wrap col-12 mt-5">
    <div class="col-6">
      <p-card
        [style]="{
          height: '100px',
          width: '18rem'
        }"
        header="Start Date"
      >
        <p class="text-primary">{{ ileave?.startDate | date }}</p>
      </p-card>
    </div>

    <div class="grid">
      <div class="col-6">
        <p-card
          [style]="{
            height: '100px',
            width: '18rem'
          }"
          header="End Date"
        >
          <p class="text-primary"></p>
          <p class="text-primary">{{ ileave?.endDate | date }}</p>
        </p-card>
      </div>
    </div>
  </div>

  <div class="col-9 mt-5">
    <p-card header="Note">
      <div *ngFor="let Inote of leaveNote">
        <p>{{ Inote.note }}</p>
      </div>
    </p-card>
  </div>
</div>
