h4{
    text-decoration: none;
    text-align: center;
    size: 20px;
    font-size: 15px;
    
    }
   
    .data{
        margin: 30px;
        text-align: center;
    }
    input[type=text] {
        width: 400px;
        height: 55px;
        padding: 8px 12px;
        margin: 8px 0;
        box-sizing: border-box;
      }
   
      .card-image{
        padding: 40px;
        align-items: center;
      }
    
.cards{
  padding: 0 10px;
}
.card-padding{

  padding: 5px;
}



.row {
  width: 100%;
  text-align: center;


  
}

.block{
  width: 150px;
 

}
