<div class="grid mt-2">
    <i class="pi pi-info-circle" style="font-size: 2rem"></i>
    <p class="ml-2">{{message}}</p>
</div>
<div class="flex justify-content-end mt-4">
    <button
        pButton
        icon="pi pi-times"
        label="No"
        (click)="confirmationResponse(false)"
        class="p-button-text mb-2"
    ></button>
    <button
        pButton
        icon="pi pi-check"
        label="Yes"
        (click)="confirmationResponse(true)"
        class="p-button-primary mb-2"
    ></button>
</div>
