// .jumbotron {
//   background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)),
//     url("../../../../../assets/img/pos/user-profile.png") no-repeat center !important;
//   background-size: contain;
// }
.layout-rightmenu .layout-rightmenu-store {
    // width: 32px;
    // height: 32px;
    background-color: rgba(255, 255, 255, 0.05);
    color: #ffffff;
    // position: absolute;
    // right: 18px;
    // text-align: center;
    padding: 9px;
    border-radius: 6px;
}

.user-tasks {
    border-bottom: 0;
}
