<div class="login-body">
  <div class="login-panel login-align p-fluid flex-column">
    <div class="flex flex-column">
      <div class="flex align-items-center mb-4 logo-container">
        <!-- <img
          [src]="
            'assets/images/brand/' +
            (app.colorScheme === 'light'
              ? projectConstants?.emblemLogoDark
              : projectConstants?.darkLogo)
          "
          class="login-logo mx-auto"
        /> -->

        

      </div>

      <div class="form-container mx-auto">
        <div>
          <p-messages
            [(value)]="HTTPResponseMessage"
            [enableService]="false"
          ></p-messages>
        </div>

        <div class="text-center mb-4">Sign in to your account</div>

        <form [formGroup]="loginForm" (keyup.enter)="submitLoginForm()">
          <formly-form
            [model]="model"
            [fields]="fields"
            [form]="loginForm"
          ></formly-form>
        </form>
      </div>
      <div class="button-container mx-auto">
        <button
          type="button"
          pButton
          label="Login"
          class="mb-2"
          (click)="submitLoginForm()"
          [disabled]="loginForm.invalid || isSubmitting"
        ></button>
        <span>
          <a [routerLink]="['/auth/forgotPassword']" class="flex my-2"
            >Forgot password?</a
          >
        </span>
        <!-- <span
          >Don't have an account?<a [routerLink]="['/auth/register']"
            >Sign up here</a
          ></span
        > -->
      </div>
    </div>
  </div>

  <!-- <div class="login-footer flex align-items-center mt-8 auth-page">
      <div class="flex align-items-center login-footer-logo-container">
        <img
          [src]="
            'assets/images/brand/' +
            (app.colorScheme === 'light'
              ? projectConstants?.emblemLogoDark
              : projectConstants?.emblemLogoLight)
          "
          class="login-footer-logo"
        />
        <img
          [src]="
            'assets/images/brand/' +
            (app.colorScheme === 'light'
              ? projectConstants?.nameLogoDark
              : projectConstants?.nameLogoLight)
          "
          class="login-footer-appname"
        />
      </div>
      <span>
        <a [href]="projectConstants?.websiteLink" target="_blank">
          <span class="copyright"
            >{{ projectConstants?.prefix }} &#169; {{ currentYear }}</span
          >
        </a>
      </span>
    </div> -->
</div>
