<!-- <p>admin-dashboards works!</p> -->
  <div class="mt-1">
    <div class="btn">
      <button
      pButton
      icon="pi pi-plus"
      type="button"
      label="New Leave"
      styleClass="mr-2 mb-2"
      routerLink="/leave/request/apply">
    </button>
    </div>
    </div>
    

<div class="card">
  <div class="flex flex-wrap">
  <div class="col-12 md:col-4">
    <div class="card chart">
        <h6>Employee Summary</h6>
        <p-chart
            type="doughnut"
            [data]="IemployeeInfo"
            width="100%"
            height="400"
            
        >
    </p-chart>

</div>
</div>

  <div class="col-12 md:col-8 ">
    <div class="card" >
        <h6>New Leave Requests</h6>
        <p-table [value]="Ileaves"
        [rowHover]="true"
        responsiveLayout="scroll"
        paginator="true"
        styleClass="p-datatable-gridlines"
        [rows]="10"
        >
            <ng-template pTemplate="header">
                        <tr class="header">
                            <th>Leave Type</th>
                            <th>Leave Duration</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Employees</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-leave  let-columns="columns">
                        <tr (click)="handleSelect(leave._id)">
                            <td>{{leave?.typeOfLeave?.leaveType}}</td>
                            <td>{{leave?.requested}}</td>
                            <td>{{leave?.startDate|date}}</td>
                            <td>{{leave?.endDate|date}}</td>
                            <td>{{leave?.appliedBy?.firstName}} {{leave?.appliedBy?.lastName}}</td>

                        </tr>
                    </ng-template>
                </p-table> 
    </div>
</div>
  


    <div class="col-12 md:col-12">
        <div class="card">
            <h6>Upcoming Leaves</h6>
                <p-table
                  [value]="IupcomingLeaves"
                  [rowHover]="true"
                  styleClass="p-datatable-gridlines"
                  selectionMode="single"
                  responsiveLayout="scroll"
                  paginator="true"
                  [rows]="5"
                >
                  <ng-template pTemplate="header">
                    <tr class="header">
                    <th>Employee Name</th>
                      <th>Leave Type</th>
                      <th>Leave Duration</th>
                      <th>Start Date</th>
                      <th>End Date</th>
                      <th>Status</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-leave >
                    <tr (click)="handleSelect(leave._id)">
                        <td>{{leave?.appliedBy?.firstName}}  {{leave?.appliedBy?.lastName}}</td>
                        <td>{{leave?.typeOfLeave?.leaveType}}</td>
                      <td>{{ leave?.requested }} days</td>
                      <td>{{ leave?.startDate | date }}</td>
                      <td>{{leave?.endDate}}</td>
                      <td class="text-primary">{{ leave?.status }}</td>
                    </tr>
                  </ng-template>
                </p-table>
          
          
        </div>
    </div>

    <div class="col-12 md:col-12">
        <div class="card">
            <h6>Ending Leaves</h6>
            <p-table
            [value]="IendingLeaves"
            [rowHover]="true"
            styleClass="p-datatable-gridlines"
            selectionMode="single"
            responsiveLayout="scroll"
            [rowHover]="true"
            paginator="true"
            [rows]="5"
          >
            <ng-template pTemplate="header">
              <tr class="header">
              <th>Employee Name</th>
                <th>Leave Type</th>
                <th>Leave Duration</th>
                <th>Start Date</th>
                <th>End  Date</th>
               
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-leave >
              <tr (click)="handleSelect(leave._id)">
                  <td>{{leave?.appliedBy?.firstName}} {{leave?.appliedBy?.lastName}}</td>
                  <td>{{leave?.typeOfLeave?.leaveType}}</td>
                <td>{{ leave?.requested }} days</td>
                <td>{{ leave?.startDate | date }}</td>
                <td>{{leave?.endDate}}</td>
           
              </tr>
            </ng-template>
          </p-table>
        </div>
    </div>



 

</div>