
<div class="container">
  <div class="summary-section">
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <div class="text-uppercase">
                  <small class="font-weight-bold sibasi-secondary">
                    Total
                  </small>
                </div>

              
                <div class="h5 font-weight-bold">
                  {{ employeeSummary?.appliedLeaves || "--" }}
                </div>
              </div>
              <div class="col text-right icon-dashboard-container">
                <i></i>
              </div>
            </div>

            <div class="text-muted">Number of Applied Leaves</div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <div class="text-uppercase">
                  <small class="font-weight-bold sibasi-secondary">
                    ToTal
                  </small>
                </div>

                <div class="h5 font-weight-bold">
                  {{ employeeSummary?.pendingLeaves || "--" }}
                </div>
              </div>
              <div class="col text-right icon-dashboard-container">
                <i></i>
              </div>
            </div>

            <div class="text-muted">Number of Pending Leaves</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <div class="text-uppercase">
                  <small class="font-weight-bold sibasi-secondary">
                    Total
                  </small>
                </div>

                <div class="h5 font-weight-bold">
                  {{ employeeSummary?.approvedleaves || "--" }}
                </div>
              </div>
              <div class="col text-right icon-dashboard-container">
                <i></i>
              </div>
            </div>

            <div class="text-muted">Number of approved Leaves</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-12">
    <h6>Approved Requests</h6>
    <p-table [value]="approvedleaves$ | async">
      <ng-template pTemplate="header">
        <tr>
          <th
            *ngFor="let column of leaveTableColumns"
            [pSortableColumn]="column"
          >
            {{ column }}
            <p-sortIcon [field]="column"></p-sortIcon>
          </th>
          <th></th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-leave let-columns="columns">
        <tr>
          <td>{{ leave?.leavetype.leavetype }}</td>

          <td>{{ leave?.startDate |date}}</td>
          <td>{{ leave?.endDate |date}}</td>
          <td>{{ leave?.status }}</td>
          <td>
            <div class="btn-group">
              <button
                type="button"
                class="btn btn-danger dropdown-toggle"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Action
              </button>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" (click)="onView(leave?._id)">View</a>
                </li>
                <li>
                  <a class="dropdown-item" (click)="onEditBtnClick(leave?._id)"
                    >Edit
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" (click)="openDeleteDialog(leave)"
                    >Delete</a
                  >
                </li>
              </ul>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
