
<p-toast></p-toast>
<div class="grid">
    <div class="col-12">
      <form [formGroup]="applyLeaveForm">
        <formly-form
          [model]="model"
          [fields]="fields"
          [options]="options"
          [form]="applyLeaveForm"
        >
        </formly-form>
      </form>
     
  
    </div>
  
  <div class="text-end">
    <button type="button" class="btn btn-primary"
   (click)="createOrUpdateleave()"
  
    >
      
      {{ isEdit ? "Update" : "Create" }}
    </button>
    </div>
  
  
  
  
  