<div class="grid">
    <div class="col-12">
      <form [formGroup]="applyLeaveForm">
        <formly-form
          [model]="model"
          [fields]="fields"
          [options]="options"
          [form]="applyLeaveForm"
        >
        </formly-form>
      </form>
     
  
    </div>
    <div class="mr-2">
      <button
        type="button"
        pButton
        label="Save"
        class="md-raised md-success "
        (click)="submitApplication()"
      ></button>
    </div>
  </div>
  
  
  
  <div class="gridpt-5 text-red-700" *ngIf="response">
    {{ response }}
  </div>

  