<p-card>
  <div class="">
  <form [formGroup]=" editLeaveform"(ngSubmit)="UpdateLeaveForm()">

    <formly-form 
        [model]="model" 
        [fields]="fields"
        [form]="editLeaveform"> 
    </formly-form>  
      </form>
    
    <div class="button-container">
        <button
            type="button"
            pButton
            label="Update Leave"
            class="md-raised md-primary"
            (click)="UpdateLeaveForm()"
            [disabled]="editLeaveform.invalid" >
          
          </button>
    </div>
  </div>
</p-card>

