<!-- <div class="container-fluid   ""> -->
<div class="box mx-auto my-auto" *ngIf="!errorMessage">
  <div class="container">
    <span class="circle"></span>
    <span class="circle"></span>
    <span class="circle"></span>
    <span class="circle"></span>
  </div>
</div>
<!-- </div> -->
<div class="container text-center m-4 py-4" *ngIf="errorMessage">
  <div class="col-md-6 mx-auto">
    <div class="card mx-4">
      <div class="card-body p-4">
        <p class="lead text-danger text-danger">{{ errorMessage }}</p>
      </div>
      <div class="card-footer p-4">
        <div class="grid">
          <div class="col-6 d-flex">
            <p class="my-auto">Have an account?</p>

            <a
              [routerLink]="['/auth/login']"
              type="button"
              class="btn text-primary btn-link py-0 px-0 my-auto ml-1"
              >Login Here</a
            >
          </div>
          <div class="col-6 text-right d-flex">
            <p class="my-auto">Have no account?</p>
            <a
              [routerLink]="['/auth/register']"
              type="button"
              class="btn text-primary btn-link py-0 my-auto px-0 ml-1"
            >
              Register</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
