
.text{
  width: 100%; 
  border-radius: 4px;

}


h2 {
    margin: 0;
    font-size: 16px;
  }
  
  ul {
    margin: 0;
    padding: 0 0 0 1.5em;
  }
  
  li {
    margin: 1.5em 0;
    padding: 0;
  }
  
  b { /* used for event dates/times */
    margin-right: 3px;
  }
  
  .demo-app {
    display: flex;
    min-height: 100%;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
  }
  
  .demo-app-sidebar {
    width: 300px;
    line-height: 1.5;
    background: #eaf9ff;
    border-right: 1px solid #d3e2e8;
  }
  
  .demo-app-sidebar-section {
    padding: 2em;
  }
  
  .demo-app-main {
    flex-grow: 1;
    padding: 3em;
  }
  
  .fc { /* the calendar root */
    max-width: 1100px;
    margin: 0 auto;
  }

  :host {
    ::ng-deep .customDialog {
        background-color: white !important;
        width: 45vw !important;
        height: 60vh !important;
        border-radius: 6px !important;
        color:white !important;
       
    }
}
:host{
  ::ng-deep {
    .display-flex { display: flex; }
  
    .flex-1 { flex: 1; }
  
    .flex-2 { flex: 2; }
  
    .flex-3 { flex: 3; }
  
    .flex-4 { flex: 4; }
  
    .flex-5 { flex: 5; }
  
    .flex-6 { flex: 6; }
  
    [class*="flex-"] {
      
      padding-left: 100px;
      padding-right: 100px;
      margin: 20px;
    }
  
    [class*="flex-"]:first-child {
      padding-left: 0;
    }
  
    [class*="flex-"]:nth-last-child(2) {
      padding-right: 0;
    }
  
    .input[type=select] {
      width: 70vw !important;
      padding: 12px 20px;
      display: inline-block;
     
      border-radius: 4px;
   
    }
    .dates{
      display: flex;
      flex-direction: row;
    }
  
  
  }
}

.button-container{
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;


}


