h6,
h5 {
    color: #0099FB;
    padding-top: 20px;
    padding-bottom: 20px;
}

// .card {
//     border: 1px solid var(--unnamed-color-e7e7e7);
//     border: 1px solid #E7E7E7;
//     opacity: 1;
// }