
<div class="card">

  <div class="flex flex-wrap">
 
    <div class="card">
      <div class="col-12 md:col-5 ">
        <h6 class="text-primary">status</h6>
    
        <div class="palette "
          style="--s: 4px; --g: 5px; transform: rotate(90deg)">
        
        </div> 
      </div>
      
  </div>
  <div class=" col-12 md:col-6 m-6">
    <p-card>
      <div class="flex justify-content-between">
        <div class="col-4">
          <h6>Years with us</h6>
          <h6 class="text-center justify-content-center text-primary text-4xl">
          {{leave?.yearsToDate}}
          </h6>
        </div>
        <div class="col-4">
          <h6>Leave Balance</h6>
          <h6 class="text-center justify-content-center text-primary text-4xl">
            {{leave?.leaveBalance }}
          </h6>
        </div>
        <div class="col-4">
          <h6>Leave Consumed</h6>

          <h6 class="text-center justify-content-center text-primary text-4xl">
            {{ leave?.leavesConsumed }}
          </h6>
        </div>
      </div>
    </p-card>
  </div>
  <div class="card md:col-2 text-center text-primary" >
    <h6 class="">Days carry over</h6>
    <h5 *ngIf="!leave.carryOverDays">
      0
      {{leave?.carryOverDays }}
    </h5>
   <h5 *ngIf="leave.carryOverDays">
    
    {{leave?.carryOverDays }}
  </h5>

    
</div>

 
</div>
<div class="mt-6">
  <div class="btn">
    <button
    pButton
    icon="pi pi-plus"
    type="button"
    label="New Leave"
    styleClass="mr-2 mb-2"
    routerLink="/leave/request/apply">
  </button>
  </div>

<div class="grid" >
  <div class="col-12 md:col-6">
      <div class="card">
          <h6>Upcoming Leaves</h6>
          <p-table
          [value]="ileaves"
          [rowHover]="true"
          styleClass="p-datatable-gridlines"
          selectionMode="single"
          responsiveLayout="scroll"
        >
          <ng-template pTemplate="header">
            <tr class="header">
              <th>Leave Type</th>
              <th>Leave Duration</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Status</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-leave let-columns="columns">
            <tr (click)="handleSelect(leave._id)">
              <td>{{ leave?.typeOfLeave?.leaveType }}</td>
              <td>{{ leave?.requested }} days</td>
              <td>{{ leave?.startDate | date }}</td>
              <td>{{leave?.endDate | date}}</td>
              <td class="text-primary">{{ leave?.status }}</td>
            </tr>
          </ng-template>
        </p-table>
        
        
      </div>
  </div>

      <div class="col-12 md:col-6">
      <div class="card">
          <h6>Pending Leaves</h6>
          <p-table
          [value]="IpendingLeaves"
          responsiveLayout="scroll"
          [rowHover]="true"
          styleClass="p-datatable-gridlines"
          selectionMode="single"
        >
          <ng-template pTemplate="header">
            <tr class="header">
              <th>Leave Type</th>
              <th>Leave Duration</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Status</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-leave let-columns="columns">
            <tr (click)="handleSelect(leave._id)">
              <td>{{ leave?.typeOfLeave?.leaveType }}</td>
              <td>{{ leave?.requested }} days</td>
              <td>{{ leave?.startDate | date }}</td>
              <td>{{leave?.endDate |date}}</td>
              <td class="text-primary">{{ leave?.status }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
  </div>
</div>
</div> 


</div>
  
