.bell{
    padding-top: 10px;
    padding-bottom: 5px;
    background: #F7F7F7 0% 0% no-repeat padding-box;
opacity: 1;

}
.card{
    // display: flex;
    border: 1px solid var(--unnamed-color-e7e7e7);
border: 1px solid #E7E7E7;
opacity: 1;
}
.modal{
    border: 1px solid var(--unnamed-color-e7e7e7);
border: 1px solid #E7E7E7;
opacity: 1;
}
.h6{
    color: #0099FB;
}

.items{
justify-content: end;
}

.palette {
    --g:2px; /* The gap between shapes*/
    --s:5px; /* the size*/
    margin: 20px;
    height: 100px;
    width: 100px;
    position:relative;
    display:inline-block;
    overflow:hidden;

  }
  .palette:before,
  .palette:after{
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    
    border:var(--s) solid var(--c,gray);
    border-radius:50%;
    clip-path:polygon(
      calc(50% + var(--g)/2) 50%, 
      calc(50% + var(--g)/2) 0%, 
      100% 0%,100% 50%,
      100% calc(70% - var(--g)/2),
      50% calc(50% - var(--g)/2)); 
  }
  
  .palette:after {
   clip-path:polygon(
      calc(50% - var(--g)/2) 50%, 
      calc(50% - var(--g)/2) 0%, 
      0% 0%,0% 100%,100% 100%,
      100% calc(70% + var(--g)/2),
      50% calc(50% + var(--g)/2)); 
    --c:red;
    border-width:calc(var(--s)/2);  
    top:calc(var(--s)/4);
    left:calc(var(--s)/4);
    right:calc(var(--s)/4);
    bottom:calc(var(--s)/4);
  }
  
  body {
   background:#f2f2f2;
  }
  .btn{
    float:right;
    position:absolute;
    top:64px ;
    right:0;
    
  }
