<div class="animated fadeIn">
  <!-- <p>{{employees$|async|json}}</p> -->
    <div class="card">
      <div class="card-body">
      

        <div class="row m-0">
          <div class="col-auto">
            <i class="fas fa-hospital-user fa-2x sibasi-primary"></i>
            <b class="h5 font-weight-bold"> Employee List</b>
          </div>
      
     <div class="mt-1">
      
      </div>
      <div class="card-body">
        <div class="table-responsive">
         
          <p-paginator
            #paginator>
          </p-paginator>

          <p-table [value]="employees$|async">
            <ng-template pTemplate="header">
              <tr>
                <th
                  *ngFor="let column of EmployeesTableColumns"
                  [pSortableColumn]="column"
                >
                  {{ column }}
                  <p-sortIcon [field]="column"></p-sortIcon>
                </th>
                <th></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-employee>
              <tr class="p-selectable-row">
                <td>{{employee?.firstName}} </td>
                <td>{{employee?.lastName}} </td>
                <td>{{employee?.email}} </td>
                 <td>{{employee?.department}} </td>
                <td>{{employee?.phoneNumber}} </td>
                <td>{{employee?.startDate}}</td>
                <td>{{employee?.status}}</td>
  
                <td>
             
                </td>
              </tr></ng-template
            >
          </p-table>
        </div>
      </div>
    </div>
  </div>
 