<div class="animated fadeIn">
    <div class="card">
      <div class="card-body">
        <div class="row m-0">
          <div class="col-auto">
            <i class="fas fa-hospital-user fa-2x sibasi-primary"></i>
            <b class="h5 font-weight-bold"> Employee List</b>
          </div>
    <!-- {{employees$ |async|json}} -->
     <div class="mt-1">
      
      </div>
       <div class="card-body"> 
        <div class="table-responsive">
          <p-table 
          [value]="employees$ |async "
      
          >
          <ng-template pTemplate="caption">
            <div class="flex  ">
              <button pButton type="button" label="Add"  style="height: 40px;" class="p-button-outlined me-2" icon="pi pi-plus"  [routerLink]="['/app/employees/create']"></button>
              <button pButton label="Export"  style="height: 40px;" class="p-button-outlined " icon="pi pi-file-excel" ></button> 
                
            </div>
        </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th
                  *ngFor="let column of EmployeesTableColumns"
                  [pSortableColumn]="column">
                  {{ column }}
                  <p-sortIcon [field]="column"></p-sortIcon>
                </th>
                <th></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-employee>
              <tr class="p-selectable-row">
                <td>{{employee?.firstname}} </td>
                <td>{{employee?.lastname}} </td>
                <td>{{employee?.email}} </td>
                <td>{{employee?.phoneNumber}} </td>
                <td>{{employee?.department?.departmentName}}</td>
                <td>{{employee?.startDate|date}}</td>
                <td >
                  <div class="btn-group">
                    <button
                      type="button"
                      class="btn btn-danger dropdown-toggle"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      Action
                    </button>
                    <ul class="dropdown-menu">
                      <li>
                        <a class="dropdown-item" (click)="onView(employee?._id)"
                          >View</a
                        >
                      </li>
                      <li>
                        <a
                          class="dropdown-item"
                          (click)="onEditBtnClick(employee?._id) "
                          >Edit
                        </a>
                      </li>
                      <li>
                        <a
                          class="dropdown-item"
                          (click)="openDeleteDialog(employee)"
                          >Delete</a
                        >
                      </li>
                    </ul>
                  </div>
   

  
               <!-- <div class="d-flex  pt-1">
                    <button
                      pButton
                      type="button"
                      label="View"
                      class="mr-1"
                      (click)="onView(employee?._id)"
                    
                    ></button>
    
                    <button
                      pButton
                      type="button"
                      label="Edit"
                      class="p-button-success mr-1" 
                      (click)="onEditBtnClick(employee?._id) "
                      >
                      
                    </button>
    
                    <button
                      pButton
                      type="button"
                      pRipple
                      label="Delete"
                      class="p-button-danger mr-1"
                      (click)="onDeleteEmployee(employee?._id)"
                   
                    ></button>
                   
                  </div>  -->
                </td>
               
              </tr></ng-template
            >
          </p-table>
        </div>
      </div>
    </div>
  </div>
 


