
    <div class="col-12">
    
        <div class="graph-content grid" *ngIf="(leaveTypes$ |async)?.length !== 0">
          <div class="col-12 col-md-12">
            <div class="card">
              <p-table
                [value]="leaveTypes$ | async"

             
              >
              <ng-template pTemplate="caption">
                <div class="flex  ">
                  <button pButton type="button" label="Add"  style="height: 40px;" class="p-button-outlined me-2" icon="pi pi-plus"  [routerLink]="['/leave/create-leaveType']"></button>
                  <button pButton label="Export"  style="height: 40px;" class="p-button-outlined " icon="pi pi-file-excel" ></button> 
                    
                </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th
                  *ngFor="let column of tableColumns"
                  [pSortableColumn]="column?.fieldName"
                >
                  {{ column?.displayName }}
                  <p-sortIcon [field]="column?.fieldName"></p-sortIcon>
                </th>
                <th></th>
              </tr>
            </ng-template>
                <ng-template pTemplate="body" let-leavetype>
                  <tr>
                    <td>{{ leavetype?.leavetype }}</td>
                    <td>{{ leavetype?.numberOfDays }}</td>
                    <td>
                      <div class="btn-group">
                        <button
                          type="button"
                          class="btn btn-danger dropdown-toggle"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                        >
                          Action
                        </button>
                        <ul class="dropdown-menu">
                    
                          <li>
                            <a
                              class="dropdown-item"
                              (click)="edit(leavetype._id)"
                              >Edit
                            </a>
                          </li>
                          <li>
                            <a
                              class="dropdown-item"
                              (click)="openDeleteDialog(leavetype)"
                              >Delete</a
                            >
                          </li>
                        </ul>
                      </div>
                    </td>
        
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
        <div
          class="graph-content grid text-center"
          *ngIf="(leaveTypes$ |async)?.length == 0"
        >
          <div class="col-12">
            <h5>No departments currently</h5>
          
          </div>
        </div>
      
    </div>

  