<div class="grid">
    <div class="col-12">
      <div class="card widget-visitor-graph">
        <div class="card-header">
          <h5>Departments</h5>
          <p-dialog
            header="Title"
            [(visible)]="displayDepartment"
            [modal]="true"
            [style]="{width: '50vw'}"
          >
            <ng-template pTemplate="header">
              <p>{{ errorMessage }}</p>
              
            </ng-template>
            <form [formGroup]="departmentForm" (ngSubmit)="addDepartment()">
              <formly-form
                [model]="departmentModel"
                [fields]="departmentFields"
                [form]="departmentForm"
              ></formly-form>
            </form>
            <ng-template pTemplate="footer">
              <button
                pButton
                *ngIf="!isEdit"
                type="button"
                class="p-button-raised"
                (click)="addDepartment()"
                [disabled]="departmentForm.invalid"
                label="Add department"
              ></button>
              <button
                pButton
                *ngIf="isEdit"
                type="button"
                class="p-button-raised"
                (click)="updateDepartment()"
                [disabled]="departmentForm.invalid"
                label="Edit department"
              ></button>
            </ng-template>
          </p-dialog>
          <button
            pButton
            type="button"
            icon="pi pi-plus"
            (click)="departmentDialogue()"
            class="p-button-raised p-button-rounded"
            *ngIf="(departments$ |async)?.length!== 0"
          ></button>
        </div>
        <div class="graph-content grid" *ngIf="(departments$ |async)?.length !== 0">
          <div class="col-12 col-md-12">
            <div class="card">
              <p-table
                [value]="departments$ | async"
                [paginator]="true"
               
                [rowHover]="true"
                styleClass="p-datatable-gridlines"
                [rows]="5"
              >
                <ng-template pTemplate="header">
                  <tr>
                    <th>Department</th>
                    <th>Number of Employees</th>
               
                    <th>Action</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-department>
                  <tr>
                    <td
                      (click)="handleSelect(department?._id)"
                    >
                      {{ department?.departmentName }}
                    </td>
                    <td>{{department?.numOfEmployees}}</td>
                    <td>
                      <div class="btn-group">
                        <button
                          type="button"
                          class="btn btn-danger dropdown-toggle"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                        >
                          Action
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                            <a class="dropdown-item" (click)="onViewDepartment(department?._id)"
                              >View</a
                            >
                          </li>
                          <li>
                            <a
                              class="dropdown-item"
                            (click)="updateDepartmentModal(department?._id)"
                              >Edit
                            </a>
                          </li>
                          <li>
                            <a
                              class="dropdown-item"
                              (click)="openDeleteDialog(department)"
                              >Delete</a
                            >
                          </li>
                        </ul>
                      </div>
                    </td>
                   
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
        <div
          class="graph-content grid text-center"
          *ngIf="(departments$ |async)?.length == 0"
        >
          <div class="col-12">
            <h5>No departments currently</h5>
            <button
              pButton
              type="button"
              [label]="isEdit ? 'Edit Department' : 'New Department'"
              icon="pi pi-plus"
              (click)="departmentDialogue()"
              class="p-button-raised"
            ></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  