<div class="animated fadeIn">
    <div class="card">
      <div class="card-body">
        <div class="container">
          <div class="row">
            <div class="col-auto">
             
             
              <b class="h5 font-weight-bold">
                {{ isEdit ? "Edit" : "Create" }} Employee
              </b>
            </div>
          </div>
          <br />
              <form [formGroup]="addEmployeeForm">
                <formly-form
                  [model]="employeeModel"
                  [fields]="fields"
                  [options]="options"
                  [form]="addEmployeeForm"
                ></formly-form>
              </form>
          <div class="text-end">
              <button type="button" class="btn btn-primary"
             (click)="createOrUpdateEmployee()"
              [disabled]="!addEmployeeForm.valid"
              >
                
                {{ isEdit ? "Update" : "Create" }}
              </button>
              </div>
           
          </div>
        </div>
      </div>
    
  </div>
  