<div class="col-9">
  <!-- <p-steps [model]="items" [readonly]="true"></p-steps> -->

  <h6>Onboarding Info</h6>

  <form [formGroup]="addEmployeeForm">
    <formly-form
      [model]="model"
      [fields]="fields"
      [options]="options"
      [form]="addEmployeeForm"
    >
    </formly-form>
  </form>
</div>

<div>
  <h6>Bank Info</h6>
</div>
<form [formGroup]="bankInfoForm">
  <formly-form
    [model]="bankInfoModel"
    [fields]="bankInfoFields"
    [options]="bankInfoOptions"
    [form]="bankInfoForm"
  >
  </formly-form>
</form>
  <div class="col-6">
    <button
      (click)="createEmployee()"
      label="Add Employee"
      pButton
      type="button"
      icon="pi pi-plus"
    ></button>
  </div>

